body {
	background-image: url("http://www.psdgraphics.com/file/abstract-network-background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1, h3, p {
	font-family: Courier;
	text-align: center;
	color: #FF7F50;
	font-weight: bold;
}

.searchInput {
	font-size: 20px;
	width: 400px;
}

.signup {
	font-size: 10px;
	width: 150px;
}

.login {
	font-size: 10px;
	width: 150px;
}

.zoom {
	margin: 50px;
}
#search {
	width: 50%;
	margin: 0 auto;
}
#map {
	width: 30%;
	margin: 0 auto;
}

.list-item, a {
	padding-top: 20px;
	font-family: Courier;
	color: #FF7F50;
	font-weight: bold;
	text-align: center;
	display: inline-block;
}

img {
	width: 75%;
	height: 75%;
}
